* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}

.container {
	height: 100vh;
	overflow: hidden;
}

.container-wrapper {
	position: relative;
	transition: transform .5s;
}

.screen {
	height: 100vh;
	background: #000;
}

.screen:first-child {
	background: green;
}

.screen:nth-child(2){
	background: grey;
}

.screen:last-child {
	background: blue;
}